* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mine1;
    src: url("fonts/LicensePlate.ttf");
}

body {
    background-image: url("images/heroscreen.png");
    padding-top: 25px;
}

header {
    background-image: url("images/newspaperbackground.jpg");
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

h1 {
    font-family: mine1, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: lighter;
}

aside {
    float: left;
    width: 33%;
    height: auto;
    padding: 10px;
}

h2, h3 {
    color: white;
    font-family: mine1, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

#search-form {
    border-bottom: 2px solid white;
}

input {
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
    height: 40px;
    width: 100%;
}

#recent-searches {
    display: flex;
    flex-direction: column;
}

.list-group {
    display: flex;
    flex-direction: column;
}

#recent-stock-list button {
    background-image: linear-gradient(rgb(220, 220, 220), white);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 32px;
    justify-self: center;
    margin: 5px;
    padding: 2px;
    text-align: center;
    width: 50%;
}

#recent-stock-list button:hover {
    box-shadow: 2px 2px 2px white;
    font-weight: bold;
    scale: 102%
}

.pure-button {
    background-color: blue;
    border: 1px solid white;
    box-shadow: 2px 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pure-button:hover {
    scale: 105%;
}

#current {
    background-image: url("images/newspaperbackground.jpg");
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-flow: row wrap;
    font-size: 32px;
    font-weight: bold;
    height: min-content;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px;
    padding: 10px;
}

#current-name {
    color: black;
    font-family: mine1, Arial, Helvetica, sans-serif;
    font-size: larger;
    flex-basis: 100%;
    margin: 10px;
    text-align: center;
}

#current-date, #current-symbol, #current-open, #current-close, #current-high, #current-low, #current-volume {
    font-size: 24px;
    height: 50px;
    margin: 5px;
    width: 200px;
}

#related {
    align-items: center;
    background-image: url("images/newspaperbackground.jpg");
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-flow: row wrap;
    font-size: 32px;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px;
    padding: 10px;
}

#related-title {
    color: black;
    flex-basis: 100%;
    font-family: mine1, Arial, Helvetica, sans-serif;
    font-size: 24;
    font-weight: bold;
}

#sectorStocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#related-button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 12px;
    height: 50px;
    margin: 20px;
    padding: 5px;
    width: 200px;
}

#related-button:hover {
    background-color: blue;
    color: white;
    scale: 105%;
}

@media screen and (max-width: 700px) {
    aside, main {
        min-height: fit-content;
        width: 100%;
        }
    h1 {
        font-size: 32px;
    }
    h2, #related-title {
        font-size: 20px;
    }
    input {
        font-size: 16px;
    }
    #related1, #related2, #related3 {
        font-size: 16px;
    }
}
